<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_joint" params="name">
    <joint name="${name}">
      <command_interface name="position"/>
      <!-- <command_interface name="velocity"/> -->
      <!-- <command_interface name="effort"/> -->
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="wxai_ros2_control">

    <ros2_control name="TrossenArmHardwareInterface" type="system">
      <hardware>
        <plugin>trossen_arm_hardware/TrossenArmHardwareInterface</plugin>
        <param name="robot_model">0</param> <!-- 0: wxai_v0 -->
        <param name="ip_address">192.168.1.2</param>
        <param name="update_period">0.1</param>
      </hardware>
      <xacro:ros2_control_joint name="joint_0"/>
      <xacro:ros2_control_joint name="joint_1"/>
      <xacro:ros2_control_joint name="joint_2"/>
      <xacro:ros2_control_joint name="joint_3"/>
      <xacro:ros2_control_joint name="joint_4"/>
      <xacro:ros2_control_joint name="joint_5"/>
      <xacro:ros2_control_joint name="joint_gl"/>
      <xacro:ros2_control_joint name="joint_gr"/>
    </ros2_control>

  </xacro:macro>

</robot>
