<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_joint" params="name">
    <joint name="${name}">
      <command_interface name="position"/>
      <state_interface name="position">
          <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
          <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
          <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
  </xacro:macro>

  <xacro:macro name="wxai_ros2_control" params="use_fake_hardware">

    <ros2_control name="TrossenArmHardwareInterface" type="system">

      <xacro:if value="$(arg use_fake_hardware)">
        <hardware>
          <plugin>fake_components/GenericSystem</plugin>
        </hardware>
      </xacro:if>  <!-- use_fake_hardware -->

      <xacro:unless value="$(arg use_fake_hardware)">
        <hardware>
          <plugin>trossen_arm_hardware/TrossenArmHardwareInterface</plugin>
          <param name="robot_model">0</param>        <!-- 0: wxai_v0 -->
          <param name="ip_address">192.168.1.2</param>
          <param name="update_period">0.1</param>
        </hardware>
      </xacro:unless>  <!-- use_fake_hardware -->

      <xacro:ros2_control_joint name="joint_0"/>
      <xacro:ros2_control_joint name="joint_1"/>
      <xacro:ros2_control_joint name="joint_2"/>
      <xacro:ros2_control_joint name="joint_3"/>
      <xacro:ros2_control_joint name="joint_4"/>
      <xacro:ros2_control_joint name="joint_5"/>
      <xacro:ros2_control_joint name="joint_gl"/>
      <xacro:ros2_control_joint name="joint_gr"/>
    </ros2_control>

  </xacro:macro>

</robot>
